.chat-body {
    width:      100%;
    max-width:  1440px;
    margin:     0 auto;
}

.incoming-message {
    position: relative;
    display: flex;
    max-width: 40%;
    width: 40%;
    justify-self: flex-start;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
        color: #fff;
        text-decoration: none;
        transition: .2s all ease-in-out;

        &:visited, &:active {
            color: #fff;
        }

        &:hover {
            color: #707070;
        }
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    &__message-text {
        position: relative;
        width: 100%;
        padding: 1rem;
        border-radius: 0px 10px 10px 10px;
        background-color: #131825;
        color: #FFF;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    &__icon {
        background-color: #3C4B78;
        width: 4rem;
        height: 3.6rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }

    &__timestamp {
        text-align: left;
        width: 100%;
        position: absolute;
        bottom: -2rem;
        left: 0;
        color: #707070;
        font-size: 1rem;
    }
}

.outgoing-message {
    position: relative;
    display: flex;
    max-width: 40%;
    width: 40%;
    justify-self: flex-end;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
        width: 100%;
        border-radius: 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: .2s all ease-in-out;

        &:visited, &:active {
            color: #fff;
        }

        &:hover {
            color: #707070;
        }
    }

    &__message-text {
        position: relative;
        width: 100%;
        padding: 1rem;
        border-radius: 10px 0 10px 10px;
        background-color: #131825;
        color: #FFF;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    &__icon {
        background-color: #3C4B78;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
    }

    &__timestamp {
        text-align: right;
        width: 100%;
        position: absolute;
        bottom: -2rem;
        left: 0;
        color: #707070;
        font-size: 1rem;
    }
}

.chat-messages {
    padding: 2rem;
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
}