body {
    background-color:   #0B0E15;
    margin:             0 auto;
}

.button {
    font-family:        'Poppins', sans-serif;
    font-size:          2rem;
    padding:            .6rem 4rem;
    border-radius:      10px;

    background-color:   #5182FF;
    color:              #0C0E15;

    cursor:             pointer;
    transition:         all .2s ease-in-out;

    &:hover {
        background-color: #658ef6;
    }
}