.chat-footer {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 1rem;
  
    .inputs {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }

    p {
      color: #707070;
    }
  
    input[type='text'] {
      position: relative;
      border-radius: 5px;
      padding: 1rem 4rem 1rem 1rem;
      background-color: #131825;
      border: none;
      outline: none;
      margin-top: 1rem;
      width: 100%;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-size: 1.2rem;
      font-weight: 200;

      &:focus {
        outline: 1px solid #3C4B78;
      }
    }
  
    .button-send {
      font-family: 'Poppins', sans-serif;
      font-size: 1.4rem;
      font-weight: 200;
      border-radius: 5px;
      background-color: transparent;
      color: #3C4B78;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-32%);
      height: 2.5rem;
      width: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }